.color-nav {
    background: #2D333B;
}

.nav-text {
    color: #ADBAC7;
}

.nav-c {
    color: white;

}

.navbar-brand:hover {
    color: white;
}



/* rgb(173, 186, 199) */

/* #adbac7 */
/* #22272e */